xml/src/main/xsd/aht/report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ahtutils.aht-group.com/report"
	xmlns:r="http://ahtutils.aht-group.com/report"
	xmlns:us="http://ahtutils.aht-group.com/status"
	xmlns:sym="http://www.jeesl.org/symbol"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://ahtutils.aht-group.com/status" schemaLocation="status.xsd"/>
	<xsd:import namespace="http://www.jeesl.org/symbol" schemaLocation="../jeesl/symbol.xsd"/>
	<xsd:element name="reports">
	    <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="r:report" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="dir" type="xsd:string"/>
			<xsd:attribute name="resources" type="xsd:string"/>
			<xsd:attribute name="templates" type="xsd:string"/>
		</xsd:complexType>    
	</xsd:element>
	<xsd:element name="report">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="r:media" maxOccurs="2"/>
				<xsd:element name="example">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string"/>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="us:langs" maxOccurs="1"/>
				<xsd:element ref="us:descriptions" maxOccurs="1"/>
				<xsd:element ref="us:category" maxOccurs="1"/>
				<xsd:element ref="us:implementation" maxOccurs="1"/>
				<xsd:element ref="r:xlsWorkbook" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="code" type="xsd:string"/>
			<xsd:attribute name="position" type="xsd:int"/>
			<xsd:attribute name="visible" type="xsd:boolean"/>
			<xsd:attribute name="dir" type="xsd:string"/>
			<xsd:attribute name="ltr" type="xsd:boolean"/>
			<xsd:attribute name="rtl" type="xsd:boolean"/>
			<xsd:attribute name="test" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
    <xsd:element name="resources">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="r:resource" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="dir" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="resource">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element name="value" maxOccurs="1">
	            	<xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="type">
	            <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="image"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="media">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="r:template" maxOccurs="1"/>
	            <xsd:element ref="r:jr" maxOccurs="unbounded"/>
 <!--                <xsd:element ref="chart:chart" maxOccurs="1"/>  -->
            </xsd:sequence>
            <xsd:attribute name="refId" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="dir" type="xsd:string"/>
	        <xsd:attribute name="type">
	            <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="pdf"/>
						<xsd:enumeration value="xls"/>
						<xsd:enumeration value="chart"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
        </xsd:complexType>
    </xsd:element>
     <xsd:element name="jr">
        <xsd:complexType>
            <xsd:attribute name="type">
	            <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="mr"/>
						<xsd:enumeration value="sr"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
        </xsd:complexType>
	</xsd:element>
	
	<xsd:element name="templates">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="r:template" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>    
	</xsd:element>
	<xsd:element name="template">
		<xsd:complexType>
			<xsd:sequence>
           	<xsd:element ref="us:langs" maxOccurs="1"/>
				<xsd:element ref="us:descriptions" maxOccurs="1"/>
				<xsd:element ref="r:cell" maxOccurs="unbounded"/>
   			<xsd:element ref="r:field" maxOccurs="unbounded"/>
				<xsd:element ref="r:element" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string"/> <!-- Deprecated -->
			<xsd:attribute name="code" type="xsd:string"/>
			<xsd:attribute name="position" type="xsd:int"/>
			<xsd:attribute name="visible" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="styles">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="r:style" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>    
	</xsd:element>
	<xsd:element name="style">
		<xsd:complexType>
			<xsd:sequence>
           		<xsd:element ref="us:langs" maxOccurs="1"/>
				<xsd:element ref="us:descriptions" maxOccurs="1"/>
				<xsd:element ref="r:layout" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:long"/>
			<xsd:attribute name="type" type="xsd:string"/>
			<xsd:attribute name="code" type="xsd:string"/>
			<xsd:attribute name="position" type="xsd:int"/>
			<xsd:attribute name="visible" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="cell">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="us:langs" maxOccurs="1"/>
				<xsd:element ref="us:descriptions" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="code" type="xsd:string"/>
			<xsd:attribute name="visible" type="xsd:boolean"/>
			<xsd:attribute name="rowNr" type="xsd:int"/>
			<xsd:attribute name="colNr" type="xsd:int"/>
		</xsd:complexType>
	</xsd:element>
	
 	<xsd:element name="field">
        <xsd:complexType>
            <xsd:attribute name="type">
             <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="parameter"/>
						<xsd:enumeration value="field"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
            <xsd:attribute name="expression" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="className" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="element">
		<xsd:complexType>
            <xsd:attribute name="type">
             <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="page"/>
						<xsd:enumeration value="header"/>
						<xsd:enumeration value="footer"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
            <xsd:attribute name="file" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="info">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="title">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="record">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:dateTime"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="subtitle">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="footer">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="r:media" maxOccurs="unbounded"/>
                <xsd:element ref="r:jr" maxOccurs="unbounded"/>
                <xsd:element ref="r:file" maxOccurs="1"/>
                <xsd:element ref="r:hash" maxOccurs="1"/>
                <xsd:element ref="r:user" maxOccurs="1"/>
                <xsd:element ref="r:labels" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="labels">
		<xsd:complexType>
            <xsd:sequence>
            	<xsd:element ref="r:label" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
   <xsd:element name="label">
        <xsd:complexType>
            <xsd:attribute name="scope" type="xsd:string"/>
            <xsd:attribute name="key" type="xsd:string"/>
            <xsd:attribute name="value" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="file">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="hash">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="user">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="xlsDefinition">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="r:xlsWorkbook" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="dataAssociation">
		<xsd:complexType>
	            <xsd:attribute name="column"		type="xsd:string"/>
				<xsd:attribute name="property"		type="xsd:string"/>
				<xsd:attribute name="targetClass"	type="xsd:string"/>
				<xsd:attribute name="handledBy"		type="xsd:string"/>
				<xsd:attribute name="validatedBy"	type="xsd:string"/>
				<xsd:attribute name="type"			type="r:importType"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="dataAssociations">
        <xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="r:dataAssociation" maxOccurs="unbounded"/>
			</xsd:sequence>
        </xsd:complexType>
    </xsd:element>
	<xsd:simpleType name="importType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Object"/>
			<xsd:enumeration value="List"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="importStructure">
        <xsd:complexType>
            <xsd:sequence>
				<xsd:element ref="r:dataAssociations" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="targetClass" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="xlsWorkbook">
        <xsd:complexType>
            <xsd:sequence>
            	<xsd:element ref="r:xlsSheets" maxOccurs="1"/> 
	            <xsd:element ref="r:xlsSheet" maxOccurs="unbounded"/> <!-- Deprecated ... sheets should be used  -->
            </xsd:sequence>
            <xsd:attribute name="code" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="xlsSheets">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="r:xlsSheet" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="query" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="xlsSheet">
		<xsd:complexType mixed="true">
			<xsd:sequence>
            	<xsd:element ref="us:langs" maxOccurs="1"/>
            	<xsd:element ref="us:descriptions" maxOccurs="1"/>
            	<xsd:element ref="us:implementation" maxOccurs="1"/>
				<xsd:element ref="r:xlsMultiColumn" maxOccurs="unbounded"/>
            	<xsd:element ref="r:xlsColumns" maxOccurs="unbounded"/>
	            <xsd:element ref="r:xlsColumn" maxOccurs="unbounded"/>
	            <xsd:element ref="r:columnGroup" maxOccurs="unbounded"/>
	            <xsd:element ref="r:rows" maxOccurs="1"/>
	           	<xsd:element ref="r:importStructure" maxOccurs="1"/>
	           	<xsd:element ref="r:queries" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="code" type="xsd:string"/>
			<xsd:attribute name="position" type="xsd:int"/>
			<xsd:attribute name="visible" type="xsd:boolean"/>
			<xsd:attribute name="query" type="xsd:string"/>
			<xsd:attribute name="primaryKey" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="columnGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="us:langs" maxOccurs="1"/>
				<xsd:element ref="us:descriptions" maxOccurs="1"/>
				<xsd:element ref="r:layout" maxOccurs="1"/>
				<xsd:element ref="r:xlsColumn" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="code" type="xsd:string"/>
			<xsd:attribute name="position" type="xsd:int"/>
			<xsd:attribute name="visible" type="xsd:boolean"/>
			<xsd:attribute name="showLabel" type="xsd:boolean"/>
			<xsd:attribute name="query" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="xlsColumns"> <!-- DEPRECATED -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="r:xlsColumn" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="query" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="xlsColumn">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="us:langs" maxOccurs="1"/>
				<xsd:element ref="us:descriptions" maxOccurs="1"/>
				<xsd:element ref="us:dataType" maxOccurs="1"/>
				<xsd:element ref="r:queries" maxOccurs="1"/>
				<xsd:element ref="r:layout" maxOccurs="1"/>
				<xsd:element ref="r:styles" maxOccurs="1"/>
				<xsd:element ref="r:xlsTransformation" maxOccurs="1"/>
				<xsd:element ref="r:dataAssociation" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="code" type="xsd:string"/>
			<xsd:attribute name="position" type="xsd:int"/>
			<xsd:attribute name="visible" type="xsd:boolean"/>
			<xsd:attribute name="column" type="xsd:string"/>
			<xsd:attribute name="required" type="xsd:boolean"/>
			<xsd:attribute name="label" type="xsd:string"/>
			<xsd:attribute name="example" type="xsd:string"/>
			<xsd:attribute name="autoWidth" type="xsd:boolean"/>
			<xsd:attribute name="width" type="xsd:int"/>
			<xsd:attribute name="showLabel" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="rows">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="r:row" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="row">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="us:langs" maxOccurs="1"/>
				<xsd:element ref="us:descriptions" maxOccurs="1"/>
				<xsd:element ref="us:type" maxOccurs="1"/>
				<xsd:element ref="us:dataType" maxOccurs="1"/>
				<xsd:element ref="r:template" maxOccurs="1"/>
				<xsd:element ref="r:queries" maxOccurs="1"/>
				<xsd:element ref="r:styles" maxOccurs="1"/>
				<xsd:element ref="r:layout" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="code" type="xsd:string"/>
			<xsd:attribute name="position" type="xsd:int"/>
			<xsd:attribute name="visible" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="queries">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="r:query" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="query">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="type" type="xsd:string"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
   
    <xsd:element name="layout">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="r:offset" maxOccurs="1"/>
				<xsd:element ref="r:size" maxOccurs="unbounded"/>
				<xsd:element ref="sym:color" maxOccurs="unbounded"/>
				<xsd:element ref="r:styles" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="size">
        <xsd:complexType>
            <xsd:sequence>
				<xsd:element ref="us:type" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="value" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="offset">
        <xsd:complexType>
            <xsd:sequence>

            </xsd:sequence>
            <xsd:attribute name="rows" type="xsd:int"/>
            <xsd:attribute name="columns" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
	
	<xsd:element name="xlsMultiColumn">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="r:xlsColumn" maxOccurs="unbounded"/>
				<xsd:element ref="us:langs" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="columnLabel" type="xsd:string"/>
            <xsd:attribute name="query" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="xlsTransformation">
        <xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					This is for xlsTransformation
				</xsd:documentation>
			</xsd:annotation>
            <xsd:attribute name="dataClass" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						This is for the dataClass attribute
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
            <xsd:attribute name="formatPattern" type="xsd:string"/>
            <xsd:attribute name="beanProperty" type="xsd:string"/>
			<xsd:attribute name="xPath" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
